<div #ref *ngIf="notification" class="notification">
  {{notification}}
</div>

<mat-card>
  <mat-card-title>Login Form</mat-card-title>
  <mat-card-subtitle>Sign in</mat-card-subtitle>
  <mat-card-content class="login-form-content">

    <mat-form-field appearance="legacy">
      <mat-label>Username:</mat-label>
      <input type="text" matInput placeholder="Name:" (keyup.enter)="login()" [(ngModel)]="authenticationRequest.login">
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Password:</mat-label>
      <input type="password" matInput placeholder="Password:" (keyup.enter)="login()" [(ngModel)]="authenticationRequest.pass">
    </mat-form-field>

    <div class="form-button-row">
      <button class="submit-button" type="submit" mat-button mat-raised-button (click)="login()">
        Submit
      </button>
      <button class="clear-button" type="button" mat-button mat-raised-button color="warn" (click)="clearForm()">
        Clear
      </button>
    </div>

    <mat-card-footer>
      <mat-progress-bar *ngIf="authService.loggingIn" mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card-content>
</mat-card>
